<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          var cookies = document
            .cookie
            .split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }

      document.addEventListener('DOMContentLoaded', function () {
        var csrfToken = getCookie('csrftoken');

        document
          .getElementById("acceptButton")
          .addEventListener("click", function () {
            fetch('/meeting/join_round/', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken // CSRF 토큰을 요청 헤더에 포함시킵니다.
              },
              body: JSON.stringify({meeting_code: '{{ meeting_code }}'})
            })
              .then(function (response) {
                if (response.ok) {
                  window.location.href = '/meeting?meeting_code={{ meeting_code }}';
                } else {
                  alert('모임 참여에 실패했습니다.');
                }
              })
              .catch(function (error) {
                console.error('모임 참여 중 오류가 발생했습니다:', error);
              });
          });
      });
    </script>
  </head>

  <body>
    현재
    {{ current_round_no }}차 진행중입니다.
    {% if is_attending %}
      <p>참가중입니다.</p>
    {% else %}
      <p>참가중이 아닙니다.</p>
      <button id="acceptButton">참가하기</button>
    {% endif %}
  </body>

</html>